<!-- android/app/src/main/AndroidManifest.xml -->
<manifest ...>
    <application
        android:name=".MainApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">

        <!-- Remove Samsung white icon mask -->
        <meta-data
            android:name="com.samsung.android.icon_container.has_icon_container"
            android:value="true" />

    </application>
</manifest>
