@import 'tailwindcss';

:root {
    --color-asphalt: #030301;
    --color-graphite: #222222;
    --color-grayChateau: #99a1af;
    --color-offWhite:  #F2F2F2;
    --color-chartreuse: #9AE600;
    --color-darkNeon: #00ff00;
    --color-lilac: #b496c6;
    --color-brilac: #f48ec5;
    --color-ctnCndy: #feb2e3;
    --color-coral: #fd8444; 
    --color-brOrange: #ff712c; 

    --font-geist: Geist Mono, monospace;
    /* --font-noto: Noto Sans Mono, monospace; */
    --font-pops: Poppins, sans-serif;
    --font-robo: Roboto Mono, monospace;
    
}

@layer utilities {
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
  }
}

@keyframes spin-twice {
  0%   { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) } /* start */
  /* 100% { transform: rotateX(-95deg) rotateY(-270deg) rotateZ(58deg) } 2 full spins */
  100% { transform:rotateX(-270deg)_rotateY(-390deg)_rotateZ(120deg) }
}

.animate-spin-twice {
  animation: spin-twice 4s linear forwards; /* run once */
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(4px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in { animation: fade-in 0.2s ease-out; }

@layer base {
  body, pre {
    background-color: #000;
    font-family: var(--font-robo);
    scroll-behavior: smooth;
  }
  .hero {
    font-family: var(--font-pops);
    font-weight: 900;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-geist);
    font-weight: 900;
  }
  
  /* code {
    font-family: var(--font-robo);
    background-color: var(--color-graphite);
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
  } */
}
